* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    font-size: 1em;
    font-weight: 400;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* GAME BOARD*/

.game-board {
    align-content: center;
    justify-content: center;
    padding: 0 4vw 0 4vw;
}

.cards {
    display: flex;
    width: 90px;
    height: 110px;
    transition: transform .5s;
    align-content: center;
    justify-content: center;
    margin: 4px 0;
    padding: 0;
}

.front-face,
.back-face {
    width: auto;
    height: 100%;
    padding: 0;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    backface-visibility: hidden;
}


/* INDEX */

.index-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto auto;
    height: auto;
    align-content: center;
    padding-top: 5px;
}

.banner-game {
    background-image: url(../images/banner-game.png);
    background-repeat: no-repeat;
    max-width: 800px;
    min-width: 300px;
    max-height: 358px;
    min-height: 134px;
    background-size: contain;
}

.level-selection-box {
    align-content: center;
    justify-content: center;
    max-width: 1200px;
    min-width: 270px;
    margin: 0.5vh 4vw 3vh 4vw;
    height: 100px;
    padding: 10px;
    background-color: rgba(96, 93, 49, 0.248);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.difficulty-level-text {
    justify-content: center;
    color: #fafafa;
    text-shadow: 2px 2px 5px #000;
    margin: 2px 0 5px 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.difficulty-level-button {
    justify-content: center;
    align-content: center;
    margin: 0;
}

.game-instructions-box {
    max-width: 1200px;
    min-width: 270px;
    margin: 0 4vw 3vh 4vw;
    height: auto;
    padding: 10px;
    background-color: rgba(96, 93, 49, 0.248);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.game-instructions-title {
    justify-content: center;
    color: #fafafa;
    text-shadow: 2px 2px 5px #000;
    margin: 2px 0 5px 0;
    font-weight: 500;
    font-size: 0.9rem;
}

/* Bootstrap 4 BTN-DARK color with reduced opacity*/
.btn-dark {
    background-color: #343a40bd;
}

.game-instructions-text {
    display: flex;
    background-color: #343a40bd;
    font-size: 0.9rem;
    text-align: center;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 3px 3px;
    padding: 5px 10px 5px 10px;
}

.start-game-box {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    min-width: 270px;
    margin: 10px 4vw;
    height: auto;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Bootstrap 4 BTN-DARK color with reduced opacity*/
.btn-outline-dark:hover {
    background-color: #343a40bd;
}

.play-button {
    margin: 0 10px 0 0;
    font-size: 50px;
}

.start-game-text {
    align-content: center;
    justify-content: left;
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400;
}

/* MEMORIZE */

.memorize-counter {
    display: flex;
    height: 20vh;
    justify-items: center;
    align-items: center;
    margin: 15px 0;
}

.memorize-counter-box {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: rgba(96, 93, 49, 0.118);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px auto;
}

.memorize-counter-content {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #343a4025;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 3px 3px;
    padding: 0;
}

.memorize-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.memorize-text {
    background-color: #343a4025;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px;
}


/* -----------------------------------
    MEDIA QUERY
-------------------------------------- */

@media (max-width: 359px) {
    .game-board {
        padding: 0;
        margin: 0;
    }

    .memorize-counter-box {
        width: 60px;
        height: 60px;
        padding: 5px;
        background-color: rgba(96, 93, 49, 0.118);
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .memorize-counter-content {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #343a4025;
        font-size: 1.5rem;
        color: #fafafa;
        text-shadow: 1px 1px 2px #000;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        margin: 3px 3px;
        padding: 0;
    }


    .cards {
        max-width: 90px;
        height: 90px;
    }

    .memorize-text {
        font-size: 1.2rem;
    }
}

@media (min-width: 575px) {
    .cards {
        width: 127px;
        height: 155px;
        position: relative;
        transition: transform .5s;

    }

}

@media (min-width: 694px) {
    
    .level-selection-box,
    .game-instructions-box,
    .start-game-box {
        margin: 2vh 7vh;
    }
    
    .cards {
        width: 152px;
        height: 185px;
        position: relative;
        transition: transform .5s;
    }

    .game-board {
        padding: 0;
    }
}

@media (min-width: 960px) {
    .cards {
        width: 172px;
        height: 210px;
        position: relative;
        transition: transform .5s;
        margin: 4px 30px;
    }
}

@media (min-width: 1200px) {

    .cards {
        margin: 1vh 2vw;
    }
}

@media (min-width: 1328px) {
    .level-selection-box,
    .game-instructions-box,
    .start-game-box {
        margin: 4vh auto;
    }

     {
        margin: 4vh auto;
    }

    .cards {
        width: 172px;
        height: 210px;
        padding: 0;
        margin: 1vh 2vw;
    }

    .memorize-text {
        height: 5vh;
    }
}