* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



/* INDEX */

.index-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0;
}

.banner-game-box {
    max-width: 750px;
    padding: 0;
}

.banner-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.level-selection-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    background-color: rgba(96, 93, 49, 0.248);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.difficulty-level-text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fafafa;
    text-shadow: 2px 2px 5px #000;
    margin: 2px 0 5px 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.difficulty-level-button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 1.5vh;
}

.game-instructions-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 1.5vh;
    padding: 10px;
    background-color: rgba(96, 93, 49, 0.248);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.game-instructions-title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fafafa;
    text-shadow: 2px 2px 5px #000;
    margin: 0 0 5px 0;
    font-weight: 500;
    font-size: 0.9rem;
}

/* Bootstrap 4 BTN-DARK color with reduced opacity*/
.btn-dark {
    background-color: #343a40bd;
}

.game-instructions-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #343a40bd;
    font-size: 0.7rem;
    text-align: justify;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 3px 3px;
    padding: 5px 10px 5px 10px;
}

.start-game-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 auto;
    margin-bottom: 2vh;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Bootstrap 4 BTN-DARK color with reduced opacity*/
.btn-outline-dark:hover {
    background-color: #343a40bd;
}

.play-button {
    margin: 0 10px 0 0;
    font-size: 50px;
}

.start-game-text {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400;
}

/* -----------MEMORIZE------------- */



.memorize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto 0;
}

.memorize-text {
    background-color: #343a4025;
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px;
}

/* -----------GAME------------- */

/* GAME TOP BOX */

#game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    margin: auto 0 0 0;
}

.top-game-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    width: 80%;
    height: auto;
    background-color: rgba(96, 93, 49, 0.248);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
    padding-top: 1.5vh;
}

.game-counter-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: rgba(96, 93, 49, 0.118);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
}

.attempts-title,
.countdown-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
}

.attempts-box,
.counter-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px;
    background-color: rgb(174, 175, 168);
    -webkit-box-shadow: inset 0px 0px 30px -3px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: inset 0px 0px 30px -3px rgba(0, 0, 0, 0.84);
    box-shadow: inset 0px 0px 30px -3px rgba(0, 0, 0, 0.84);
    border-radius: 10px;
    margin: 4px auto 10px auto;
}

.top-game-counters,
.top-game-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.attempts-counter,
.time-countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #686767;
    font-size: 1.5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 30px -3px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: inset 0px 0px 30px -3px rgba(0, 0, 0, 0.84);
    box-shadow: inset 0px 0px 30px -3px rgba(0, 0, 0, 0.84);
    margin: 3px 3px;
    padding: 0;
}

/*GAME BOARD*/

#game-board {
    margin: 2.5vh 0 auto 0;
}

.game-board {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 4vw 0 4vw;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 110px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 4px 0;
    padding: 0;
}

.cards:active {
    transform: scale(0.97);
    transition: transform .5s;
}

.cards.flip {
    transform: rotateY(180deg);
}

.card-face-up,
.card-face-down {
    width: auto;
    height: 100%;
    padding: 0;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-face-up {
    transform: rotateY(180deg);
}

/* -----------RESULTS------------- */





/* -----------------------------------
    MEDIA QUERY
-------------------------------------- */
/* Mobile screen under 359px */
@media (max-width: 359px) {
    .level-selection-box {
        margin: 0.5vh 4vw 2vh 4vw;
    }

    .game-instructions-box {
        margin: 0 4vw 2vh 4vw;
    }

    .game-board {
        padding: 0;
        margin: 0;
    }

    .game-instructions-text {
        font-size: 0.6rem;
    }

    .memorize-counter-box {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    .memorize-counter-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #343a4025;
        font-size: 1.5rem;
        color: #fafafa;
        text-shadow: 1px 1px 2px #000;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        margin: 3px 3px;
        padding: 0;
    }


    .cards {
        max-width: 90px;
        height: 90px;
    }

    .memorize-text {
        font-size: 1.2rem;
    }

    .start-game-box {
        padding: 0.2rem;
    }

    .start-game-text {
        font-size: 1.5rem;
    }
}

/*------------------------------------------*/


@media (min-width: 575px) {
    .cards {
        width: 127px;
        height: 155px;
    }

}

@media (min-width: 694px) {
    .game-board {
        padding: 0;
    }

    .top-game-box {
        width: 70%;
    }

    .attempts-counter,
    .time-countdown {
        width: 60px;
        height: 60px;
        font-size: 2rem;

    }
}

@media (min-width: 1200px) {

    .cards {
        margin: 1vh 2vw;
    }
}

@media (min-width: 1328px) {
    .memorize-text {
        font-size: 1.5rem;
    }

    .top-game-box {
        width: 60%;
    }
}

@media (min-width: 1550px) {

    .cards {
        width: 172px;
        height: 210px;
        padding: 0;
        margin: 1vh 2vw;
    }

    .memorize-text {
        font-size: 1.4rem;
    }

}